@import '../src//styles/config.scss';

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 5px;
  .app-main {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
      45deg,
      $main-color,
      $main-color-light 79%,
      $main-color-header
    );
    height: 100%;
    width: 100%;
    border-radius: 10px;
    .app-hinweise {
      padding: 10px;
    }
  }
}
